<div class="better a-animation scroll-to-reveal ">

   <div class="js-scene better-scene a-turn a-turn-5">
      <div data-depth="0.2" class="better-decor better-decor-6">
         <img src="./src/img/better-img-6.png" alt="">
      </div>
      <div data-depth="0.2" class="better-decor better-decor-7">
         <img src="./src/img/better-img-7.png" alt="">
      </div>
      <div data-depth="0.2" class="better-decor better-decor-8">
         <img src="./src/img/better-img-8.png" alt="">
      </div>
      <div data-depth="0.2" class="better-decor better-decor-9">
         <img src="./src/img/better-img-9.png" alt="">
      </div>
   </div>

   <div class="maxwidth-theme">
      <div class="better-grid">
         <div class="better-body ">
            <h2 class="better-title a-turn a-turn-1">Чем мы лучше других? RTB</h2>
            <div class="better-advantage a-turn a-turn-2">
               <div class="better-advantage__item">
                  На артезианской воде
               </div>
               <div class="better-advantage__item">
                  На натуральных настоях трав и фруктов технологии, максимально сберегающие ценные свойства натуральных ингредиентов
               </div>
            </div>
            <div class="better-slogan a-turn a-turn-3">
               <div class="better-slogan__img">
                  <img src="./src/img/logo.png" alt="">
               </div>
               <div class="better-slogan__text">
                  ЧЕРНОГОЛОВКА - это ГОЛОС ПРИРОДЫ в твоем стакане
               </div>
            </div>
         </div>
         <div class="better-img js-scene a-turn a-turn-4">
            <div data-depth="0" class="better-decor better-decor-1">
               <img src="./src/img/better-img-1.png" alt="">
            </div>
            <div data-depth="0" class=" better-decor-2">
               <img src="./src/img/better-img-2.png" alt="">
            </div>
            <div data-depth="0.2" class="better-decor better-decor-3">
               <img src="./src/img/better-img-3.png" alt="">
            </div>
            <div data-depth="0.2" class="better-decor better-decor-4">
               <img src="./src/img/better-img-4.png" alt="">
            </div>
            <div data-depth="0.3" class="better-decor better-decor-5">
               <img src="./src/img/better-img-5.png" alt="">
            </div>
            <div data-depth="0.3" class="scrollme better-decor better-decor-10">
               <img class="animateme" data-when="exit" data-from="0" data-to=".8" data-easing="easeinout" data-translateX="200" data-translateY="600" src="./src/img/better-img-8.png" alt="">
            </div>
            <div data-depth="0.4" class="scrollme better-decor better-decor-11">
               <img class="animateme" data-when="exit" data-from="0" data-to="1" data-easing="easeinout" data-translateX="200" data-translateY="1000" src="./src/img/better-img-11.png" alt="">
            </div>
            <div data-depth="0.4" class="scrollme better-decor better-decor-12">
               <img class="animateme" data-when="exit" data-from="0" data-to="1" data-easing="easeinout" data-translateX="100" data-translateY="800" src="./src/img/better-img-12.png" alt="">
            </div>
            <div data-depth="0.5" class="scrollme better-decor better-decor-13">
               <img class="animateme" data-when="exit" data-from="0" data-to=".8" data-easing="easeinout" data-translateX="-100" data-translateY="800" src="./src/img/better-img-13.png" alt="">
            </div>
            <div data-depth="0.5" class=" better-decor better-decor-14">
               <img src="./src/img/better-img-14.png" alt="">
            </div>
            <div data-depth="0.6" class="scrollme better-decor better-decor-15">
               <img class="animateme" data-when="exit" data-from="0" data-to=".6" data-easing="easeinout" data-translateX="-300" data-translateY="600" src="./src/img/better-img-15.png" alt="">
            </div>
            <div data-depth="0.6" class="better-decor better-decor-16">
               <img src="./src/img/better-img-16.png" alt="">
            </div>
            <div data-depth="0.7" class="better-decor better-decor-17">
               <img src="./src/img/better-img-17.png" alt="">
            </div>
            <div data-depth="0.7" class="better-decor better-decor-bubbles">
               <img src="./src/img/better-img-bubbles.png" alt="">
            </div>
         </div>
      </div>
   </div>

</div>