<!-- HEADER -->
{% include "./layout/header.twig" %}
{% block page %}
   <!-- MAIN -->


   <div class="body index hover_">
      <div class="body_media"></div>
      <div role="main" class="main banner-">
         <div class="container ">

            <div class="drag-block container" data-class="BANNER_PRODUCT" data-order="1">
               <div class="row margin0">
                  <div class="maxwidth-banner">

                     {# START page block beverages#}
                     <div class="beverages">
                        <div class="c-scroll-page">
                           <div class="c-scroll-page__icon">
                              <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M12.0001 25.3126L0.480957 13.7934L3.19112 11.0814L12.0078 19.898L20.8245 11.0814L23.5193 13.7934L12.002 25.3126H12.0001ZM12.0001 14.9166L0.480957 3.39553L3.19112 0.685364L12.0078 9.50203L20.8245 0.685364L23.5193 3.39553L12.002 14.9147L12.0001 14.9166Z" fill="#6A9246"/>
                              </svg>
                           </div>
                        </div>
                        <div class="maxwidth-theme">
                           <div class="beverages-grid">
                              <h1 class="beverages-title">Черноголовка — голос природы в твоем стакане</h1>

                              <div class="swiper-container js-beverages-slider">
                                 <div class="beverages-slider swiper-wrapper">
                                    <div class="beverages-slider__item swiper-slide">
                                       <div class="beverages-card">
                                          <a href="#" class="beverages-card-btn">
                                             <span>Перейти <br/>к напитку</span>
                                          </a>
                                          <div class="beverages-card__body">
                                             <div class="beverages-card-info">
                                                <h3 class="beverages-card-info__title">Черноголовка Дюшес</h3>
                                                <div class="beverages-card-info__text">
                                                   <p>
                                                      Превосходный десертный вкус: винно-сладкий,
                                                      с приятной кислинкой и мускатным ароматом.
                                                   </p>
                                                   <p>
                                                      «Дюшес» — один из изысканных, старых европейских сортов груш был назван в честь Французской герцогини. Герцогство исчезло, а, груши, подобно старинным песням, пережили века, чтобы мы могли насладиться их медовостью. Основа рецепта — натуральный сироп-настой южной груши сорта «Дюшес».
                                                   </p>
                                                </div>
                                             </div>

                                          </div>
                                          <div class="beverages-card-img">
                                             <div class="beverages-card-img__round">
                                                <img src="./src/img/beverages-card-img-round.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__product">
                                                <img src="./src/img/beverages-card-img-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-1">
                                                <img src="./src/img/beverages-card-img-fruit-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-2">
                                                <img src="./src/img/beverages-card-img-fruit-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__bubbles">
                                                <img src="./src/img/beverages-card-img-bubbles.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-1">
                                                <img src="./src/img/beverages-card-img-sheet-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-2">
                                                <img src="./src/img/beverages-card-img-sheet-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-3">
                                                <img src="./src/img/beverages-card-img-sheet-3.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-4">
                                                <img src="./src/img/beverages-card-img-sheet-4.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-5">
                                                <img src="./src/img/beverages-card-img-sheet-5.png" alt="">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="beverages-slider__item swiper-slide">
                                       <div class="beverages-card">
                                          <a href="#" class="beverages-card-btn">
                                             <span>Перейти <br/>к напитку</span>
                                          </a>
                                          <div class="beverages-card__body">
                                             <div class="beverages-card-info">
                                                <h3 class="beverages-card-info__title">Черноголовка Дюшес</h3>
                                                <div class="beverages-card-info__text">
                                                   <p>
                                                      Превосходный десертный вкус: винно-сладкий,
                                                      с приятной кислинкой и мускатным ароматом.
                                                   </p>
                                                   <p>
                                                      «Дюшес» — один из изысканных, старых европейских сортов груш был назван в честь Французской герцогини. Герцогство исчезло, а, груши, подобно старинным песням, пережили века, чтобы мы могли насладиться их медовостью. Основа рецепта — натуральный сироп-настой южной груши сорта «Дюшес».
                                                   </p>
                                                </div>
                                             </div>

                                          </div>
                                          <div class="beverages-card-img">
                                             <div class="beverages-card-img__round">
                                                <img src="./src/img/beverages-card-img-round.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__product">
                                                <img src="./src/img/beverages-card-img-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-1">
                                                <img src="./src/img/beverages-card-img-fruit-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-2">
                                                <img src="./src/img/beverages-card-img-fruit-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__bubbles">
                                                <img src="./src/img/beverages-card-img-bubbles.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-1">
                                                <img src="./src/img/beverages-card-img-sheet-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-2">
                                                <img src="./src/img/beverages-card-img-sheet-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-3">
                                                <img src="./src/img/beverages-card-img-sheet-3.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-4">
                                                <img src="./src/img/beverages-card-img-sheet-4.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-5">
                                                <img src="./src/img/beverages-card-img-sheet-5.png" alt="">
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                 </div>
                              </div>


                              <div thumbsslider="" class="swiper-container beverages-card-products">
                                 <div class="swiper-wrapper beverages-card-products-list ">
                                    <div class="beverages-card-products__item swiper-slide">
                                       <img src="./src/img/beverages-card-product-1.png" alt="">
                                    </div>
                                    <div class="beverages-card-products__item swiper-slide">
                                       <img src="./src/img/beverages-card-product-2.png" alt="">
                                    </div>
{#                                    <div class="beverages-card-products__item">#}
{#                                       <img src="./src/img/beverages-card-product-3.png" alt="">#}
{#                                    </div>#}
{#                                    <div class="beverages-card-products__item">#}
{#                                       <img src="./src/img/beverages-card-product-4.png" alt="">#}
{#                                    </div>#}
{#                                    <div class="beverages-card-products__item">#}
{#                                       <img src="./src/img/beverages-card-product-5.png" alt="">#}
{#                                    </div>#}
{#                                    <div class="beverages-card-products__item">#}
{#                                       <img src="./src/img/beverages-card-product-6.png" alt="">#}
{#                                    </div>#}
{#                                    <div class="beverages-card-products__item">#}
{#                                       <img src="./src/img/beverages-card-product-7.png" alt="">#}
{#                                    </div>#}
                                 </div>
                                 <div class="beverages-arrow">
                                    <a href="#" class="beverages-arrow-link beverages-arrow-link__right">
                                       <div class="beverages-arrow__icon">
                                          <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M1.71515 19L12 9.5L1.71515 0L0 1.58315L8.57212 9.5L0 17.4169L1.71515 19Z" fill="white"/>
                                          </svg>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {# END page block beverages#}



                     <div class="better">

                        <div class="better-decor better-decor-6">
                           <img src="./src/img/better-img-6.png" alt="">
                        </div>
                        <div class="better-decor better-decor-7">
                           <img src="./src/img/better-img-7.png" alt="">
                        </div>
                        <div class="better-decor better-decor-8">
                           <img src="./src/img/better-img-8.png" alt="">
                        </div>
                        <div class="better-decor better-decor-9">
                           <img src="./src/img/better-img-9.png" alt="">
                        </div>
                        <div class="maxwidth-theme">
                           <div class="better-grid">
                              <div class="better-body">
                                 <h2 class="better-title">Чем мы лучше других? RTB</h2>
                                 <div class="better-advantage">
                                    <div class="better-advantage__item">
                                       На артезианской воде
                                    </div>
                                    <div class="better-advantage__item">
                                       На натуральных настоях трав и фруктов технологии, максимально сберегающие ценные свойства натуральных ингредиентов
                                    </div>
                                 </div>
                                 <div class="better-slogan">
                                    <div class="better-slogan__img">
                                       <img src="./src/img/logo.png" alt="">
                                    </div>
                                    <div class="better-slogan__text">
                                       ЧЕРНОГОЛОВКА - это ГОЛОС ПРИРОДЫ в твоем стакане
                                    </div>
                                 </div>
                              </div>
                              <div class="better-img">
                                 <div class="better-decor better-decor-1">
                                    <img src="./src/img/better-img-1.png" alt="">
                                 </div>
                                 <div class=" better-decor-2">
                                    <img src="./src/img/better-img-2.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-3">
                                    <img src="./src/img/better-img-3.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-4">
                                    <img src="./src/img/better-img-4.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-5">
                                    <img src="./src/img/better-img-5.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-10">
                                    <img src="./src/img/better-img-8.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-11">
                                    <img src="./src/img/better-img-11.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-12">
                                    <img src="./src/img/better-img-12.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-13">
                                    <img src="./src/img/better-img-13.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-14">
                                    <img src="./src/img/better-img-14.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-15">
                                    <img src="./src/img/better-img-15.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-16">
                                    <img src="./src/img/better-img-16.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-17">
                                    <img src="./src/img/better-img-17.png" alt="">
                                 </div>
                                 <div class="better-decor better-decor-bubbles">
                                    <img src="./src/img/better-img-bubbles.png" alt="">
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>

                     <div class="shops">
                        <div class="maxwidth-theme">
                           <div class="shops-title">Купить Черноголовку сейчас</div>
                           <div class="shops-list swiper-container">
                              <div class="swiper-wrapper">
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-button-next"></div>
                              <div class="swiper-button-prev"></div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


{% endblock %}
<!-- FOOTER -->
{% include "./layout/footer.twig" %}