<!-- HEADER -->
{% include "./layout/header.twig" %}
{% block page %}
   <!-- MAIN -->


   <div class="body index hover_">
      <div class="body_media"></div>
      <div role="main" class="main banner-">
         <div class="container ">

            <div class="drag-block container" data-class="BANNER_PRODUCT" data-order="1">
               <div class="row margin0">
                  <div class="maxwidth-banner">

                     {# START page block beverages#}
                     <div class="beverages js-animation">
                        <div class="c-scroll-page">
                           <div class="c-scroll-page__icon ">
                              <svg class="a-floating a-floating-30" width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M12.0001 25.3126L0.480957 13.7934L3.19112 11.0814L12.0078 19.898L20.8245 11.0814L23.5193 13.7934L12.002 25.3126H12.0001ZM12.0001 14.9166L0.480957 3.39553L3.19112 0.685364L12.0078 9.50203L20.8245 0.685364L23.5193 3.39553L12.002 14.9147L12.0001 14.9166Z" fill="#6A9246"/>
                              </svg>
                           </div>
                        </div>
                        <div class="maxwidth-theme">
                           <div class="beverages-grid">
                              <h1 class="beverages-title">Черноголовка — голос природы в твоем стакане</h1>

                              <div class="swiper-container js-beverages-slider">
                                 <div class="beverages-slider swiper-wrapper">
                                    <div class="beverages-slider__item swiper-slide">
                                       <div class="beverages-card">
                                          <a href="#" class="beverages-card-btn">
                                             <span>Перейти <br/>к напитку</span>
                                             <i></i>
                                          </a>
                                          <div class="beverages-card__body">
                                             <div class="beverages-card-info">
                                                <h3 class="beverages-card-info__title">Черноголовка Дюшес</h3>
                                                <div class="beverages-card-info__text">
                                                   <p>
                                                      Превосходный десертный вкус: винно-сладкий,
                                                      с приятной кислинкой и мускатным ароматом.
                                                   </p>
                                                   <p>
                                                      «Дюшес» — один из изысканных, старых европейских сортов груш был назван в честь Французской герцогини. Герцогство исчезло, а, груши, подобно старинным песням, пережили века, чтобы мы могли насладиться их медовостью. Основа рецепта — натуральный сироп-настой южной груши сорта «Дюшес».
                                                   </p>
                                                </div>
                                             </div>

                                          </div>
                                          <div class="beverages-card-img">
                                             <div class="beverages-card-img__round">
                                                <img src="./src/img/beverages-card-img-round.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__product">
                                                <img src="./src/img/beverages-card-img-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-1">
                                                <img src="./src/img/beverages-card-img-fruit-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-2">
                                                <img src="./src/img/beverages-card-img-fruit-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__bubbles">
                                                <div class="bubbles-container">
                                                   <svg class="bubbles" xmlns="http://www.w3.org/2000/svg" stroke="#fff" viewBox="0 0 701 1024" style="overflow: visible;">

                                                      <g class="bubbles-large" stroke-width="6">
                                                         <g>
                                                            <g transform="translate(10 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(373 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(408 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(621 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(179 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                      </g>

                                                      <g class="bubbles-small" stroke-width="3">
                                                         <g>
                                                            <g transform="translate(147 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(255 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(573 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(429 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(91 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(640 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(321 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(376 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(376 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(497 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                      </g>

                                                   </svg>
                                                </div>
                                                <!-- <img src="./src/img/beverages-card-img-bubbles.png" alt=""> -->
                                             </div>
                                             <div class="beverages-card-img__sheet-1">
                                                <img src="./src/img/beverages-card-img-sheet-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-2">
                                                <img src="./src/img/beverages-card-img-sheet-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-3">
                                                <img src="./src/img/beverages-card-img-sheet-3.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-4">
                                                <img src="./src/img/beverages-card-img-sheet-4.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-5">
                                                <img src="./src/img/beverages-card-img-sheet-5.png" alt="">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="beverages-slider__item swiper-slide">
                                       <div class="beverages-card">
                                          <a href="#" class="beverages-card-btn">
                                             <span>Перейти <br/>к напитку</span>
                                          </a>
                                          <div class="beverages-card__body">
                                             <div class="beverages-card-info">
                                                <h3 class="beverages-card-info__title">Черноголовка Дюшес</h3>
                                                <div class="beverages-card-info__text">
                                                   <p>
                                                      Превосходный десертный вкус: винно-сладкий,
                                                      с приятной кислинкой и мускатным ароматом.
                                                   </p>
                                                   <p>
                                                      «Дюшес» — один из изысканных, старых европейских сортов груш был назван в честь Французской герцогини. Герцогство исчезло, а, груши, подобно старинным песням, пережили века, чтобы мы могли насладиться их медовостью. Основа рецепта — натуральный сироп-настой южной груши сорта «Дюшес».
                                                   </p>
                                                </div>
                                             </div>

                                          </div>
                                          <div class="beverages-card-img">
                                             <div class="beverages-card-img__round">
                                                <img src="./src/img/beverages-card-img-round.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__product">
                                                <img src="./src/img/beverages-card-img-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-1">
                                                <img src="./src/img/beverages-card-img-fruit-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__fruit-2">
                                                <img src="./src/img/beverages-card-img-fruit-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__bubbles">
                                                <div class="bubbles-container">
                                                   <svg class="bubbles" xmlns="http://www.w3.org/2000/svg" stroke="#fff" viewBox="0 0 701 1024" style="overflow: visible;">

                                                      <g class="bubbles-large" stroke-width="6">
                                                         <g>
                                                            <g transform="translate(10 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(373 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(408 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(621 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(179 940)">
                                                               <circle cx="35" cy="35" r="35"/>
                                                            </g>
                                                         </g>
                                                      </g>

                                                      <g class="bubbles-small" stroke-width="3">
                                                         <g>
                                                            <g transform="translate(147 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(255 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(573 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(429 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(91 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(640 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(321 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(376 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(376 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                         <g>
                                                            <g transform="translate(497 984)">
                                                               <circle cx="15" cy="15" r="15"/>
                                                            </g>
                                                         </g>
                                                      </g>

                                                   </svg>
                                                </div>
                                                <!-- <img src="./src/img/beverages-card-img-bubbles.png" alt=""> -->
                                             </div>
                                             <div class="beverages-card-img__sheet-1">
                                                <img src="./src/img/beverages-card-img-sheet-1.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-2">
                                                <img src="./src/img/beverages-card-img-sheet-2.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-3">
                                                <img src="./src/img/beverages-card-img-sheet-3.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-4">
                                                <img src="./src/img/beverages-card-img-sheet-4.png" alt="">
                                             </div>
                                             <div class="beverages-card-img__sheet-5">
                                                <img src="./src/img/beverages-card-img-sheet-5.png" alt="">
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                 </div>

                                 <div class="swiper-pagination"></div>
                              </div>


                              <div thumbsslider="" class="swiper-container beverages-card-products">
                                 <div class="swiper-wrapper beverages-card-products-list ">
                                    <div class="beverages-card-products__item swiper-slide">
                                       <img src="./src/img/beverages-card-product-1.png" alt="">
                                    </div>
                                    <div class="beverages-card-products__item swiper-slide">
                                       <img src="./src/img/beverages-card-product-2.png" alt="">
                                    </div>
                                    <div class="beverages-card-products__item">
                                       <img src="./src/img/beverages-card-product-3.png" alt="">
                                    </div>
                                    <div class="beverages-card-products__item">
                                       <img src="./src/img/beverages-card-product-4.png" alt="">
                                    </div>
                                    <div class="beverages-card-products__item">
                                       <img src="./src/img/beverages-card-product-5.png" alt="">
                                    </div>
                                    <div class="beverages-card-products__item">
                                       <img src="./src/img/beverages-card-product-6.png" alt="">
                                    </div>
                                    <div class="beverages-card-products__item">
                                       <img src="./src/img/beverages-card-product-7.png" alt="">
                                    </div>
                                 </div>
                                 <div class="beverages-arrow">
                                    <a href="#" class="beverages-arrow-link beverages-arrow-link__right">
                                       <div class="beverages-arrow__icon">
                                          <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M1.71515 19L12 9.5L1.71515 0L0 1.58315L8.57212 9.5L0 17.4169L1.71515 19Z" fill="white"/>
                                          </svg>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {# END page block beverages#}

                     {% include "./better.twig" %}

                     <div class="shops">
                        <div class="maxwidth-theme">
                           <div class="shops-title">Купить Черноголовку сейчас</div>
                           <div class="shops-list swiper-container">
                              <div class="swiper-wrapper">
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="shops-list__item swiper-slide">
                                    <div class="shops-card">
                                       <div class="shops-card__img">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="shops-card__body">
                                          <a href="#" class="shops-card-btn">Купить</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-button-next"></div>
                              <div class="swiper-button-prev"></div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


{% endblock %}
<!-- FOOTER -->
{% include "./layout/footer.twig" %}