<!-- HEADER -->
{% include "./layout/header.twig" %}
{% block page %}
<!-- MAIN -->
    <div class="banner">
        <div class="js-slider">
            <ul class="banner-list swiper-wrapper">
                {# START banner-list__item#}
                <li class="swiper-slide banner-list__item">
                    <div class="banner-card">
                        <div class="banner-card__img">
                            <img src="./src/img/banner-img-1.jpg" alt="">
                        </div>
                        <div class="banner-card__body">
                            <div class="banner-card-time">
                                <span class="banner-card-time__text">25 февраля 2021</span>
                            </div>
                            <div class="banner-card__title">
                                <h2>НЕВИДИМКА, ДВОЙНИК, ПЕРЕСМЕШНИК...</h2>
                                <span class="banner-card__label">16+</span>
                            </div>
                            <div class="c-line"></div>
                            <div class="banner-card__text">
                                <p>Музыкально-поэтический моноспектакль на стихотворения М. Цветаевой</p>
                            </div>
                            <div class="banner-card__btn">
                                <a href="#" class="c-btn c-btn-primary">
                                    <span class="c-btn-grid">
                                    <svg class="c-icon icon-buy">
                                        <use xlink:href="./src/img/icons.svg#icon-buy"/>
                                    </svg>
                                    <span>купить билет</span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                {# END banner-list__item#}
                {# START banner-list__item#}
                <li class="swiper-slide banner-list__item">
                    <div class="banner-card">
                        <div class="banner-card__img">
                            <img src="./src/img/banner-img-1.jpg" alt="">
                        </div>
                        <div class="banner-card__body">
                            <div class="banner-card-time">
                                <span class="banner-card-time__text">25 февраля 2021</span>
                            </div>
                            <div class="banner-card__title">
                                <h2>НЕВИДИМКА, ДВОЙНИК, ПЕРЕСМЕШНИК...</h2>
                                <span class="banner-card__label">16+</span>
                            </div>
                            <div class="c-line"></div>
                            <div class="banner-card__text">
                                <p>Музыкально-поэтический моноспектакль на стихотворения М. Цветаевой</p>
                            </div>
                            <div class="banner-card__btn">
                                <a href="#" class="c-btn c-btn-primary">
                                    <span class="c-btn-grid">
                                    <svg class="c-icon icon-buy">
                                        <use xlink:href="./src/img/icons.svg#icon-buy"/>
                                    </svg>
                                    <span>купить билет</span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                {# END banner-list__item#}
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>





    <section class="performances">
        <div class="c-title-layout">
            <h2 class="c-title">Cпектакли</h2>
            <div class="c-btn-layout">
                <a href="#" class="c-btn c-btn-default">Афиша</a>
                <a href="#" class="c-btn c-btn-default">Все Спектакли</a>
            </div>
        </div>
        <div class="js-slider">
            {# <div class="swiper-navigation">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div> #}
            
            <ul class="performances-list swiper-wrapper">
                {# START performances-list__item#}
                <li class="swiper-slide performances-list__item">
                    <div class="performances-card">
                        <div class="performances-card__img">
                            <img src="./src/img/performances-img-1.jpg" alt="">
                        </div>
                        <div class="performances-card__body">
                            <div class="performances-card-time">
                                <span class="performances-card-time__text">21 марта  19:00 </span>
                                <span class="performances-card__label">16+</span>
                            </div>
                            <div class="performances-card__title">
                                <a href="#">Царь Эдип. Прозрение</a>
                            </div>
                            <div class="performances-card__text">
                                <p>Трагедия (средний формат)</p>
                                <p>Софокл</p>
                                <p>Режиссёр — Андрей Тимошенко</p>
                            </div>
                            <div class="performances-card__btn">
                                <a href="#" class="c-btn c-btn-primary">
                                    <span class="c-btn-grid">
                                    <svg class="c-icon icon-buy">
                                        <use xlink:href="./src/img/icons.svg#icon-buy"/>
                                    </svg>
                                    <span>купить билет</span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                {# END performances-list__item#}
                {# START performances-list__item#}
                <li class="swiper-slide performances-list__item">
                    <div class="performances-card">
                        <div class="performances-card__img">
                            <img src="./src/img/performances-img-2.jpg" alt="">
                        </div>
                        <div class="performances-card__body">
                            <div class="performances-card-time">
                                <span class="performances-card-time__text">21 марта  19:00 </span>
                                <span class="performances-card__label">16+</span>
                            </div>
                            <div class="performances-card__title">
                                <a href="#">Царь Эдип. Прозрение</a>
                            </div>
                            <div class="performances-card__text">
                                <p>Трагедия (средний формат)</p>
                                <p>Софокл</p>
                                <p>Режиссёр — Андрей Тимошенко</p>
                            </div>
                            <div class="performances-card__btn">
                                <a href="#" class="c-btn c-btn-primary">
                            <span class="c-btn-grid">
                            <svg class="c-icon icon-buy">
                                <use xlink:href="./src/img/icons.svg#icon-buy"/>
                            </svg>
                            <span>купить билет</span>
                            </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                {# END performances-list__item#}
                {# START performances-list__item#}
                <li class="swiper-slide performances-list__item">
                    <div class="performances-card">
                        <div class="performances-card__img">
                            <img src="./src/img/performances-img-3.jpg" alt="">
                        </div>
                        <div class="performances-card__body">
                            <div class="performances-card-time">
                                <span class="performances-card-time__text">21 марта  19:00 </span>
                                <span class="performances-card__label">16+</span>
                            </div>
                            <div class="performances-card__title">
                                <a href="#">Царь Эдип. Прозрение</a>
                            </div>
                            <div class="performances-card__text">
                                <p>Трагедия (средний формат)</p>
                                <p>Софокл</p>
                                <p>Режиссёр — Андрей Тимошенко</p>
                            </div>
                            <div class="performances-card__btn">
                                <a href="#" class="c-btn c-btn-primary">
                            <span class="c-btn-grid">
                            <svg class="c-icon icon-buy">
                                <use xlink:href="./src/img/icons.svg#icon-buy"/>
                            </svg>
                            <span>купить билет</span>
                            </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                {# END performances-list__item#}

            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="news">
        <div class="c-title-layout">
            <h2 class="c-title">Новости</h2>
            <div class="c-btn-layout">
                <a href="#" class="c-btn c-btn-default">Все новости</a>
            </div>
        </div>
        <div class="js-slider">
            <ul class="news-list swiper-wrapper">
                {# START performances-list__item#}
                <li class="swiper-slide news-list__item">
                    <div class="news-card">
                        <div class="news-card__img">
                            <img src="./src/img/news-img-1.jpg" alt="">
                        </div>
                        <div class="news-card__body">

                            <div class="news-card__title">
                                <a href="#">В Архдраме очередная премьера — «Карамазовы. Мытарь»</a>
                            </div>
                            <div class="news-card-time">
                                <span class="news-card-time__text">12.04.21</span>
                            </div>
                            <div class="news-card__text">
                                <p>
                                    Стать свидетелем расследования великой тайны зрители Архангельского театра драмы имени М.В. Ломоносова смогут 7 и 8 мая на премьере спектакля «КАРАМАЗОВЫ.МЫТАРЬ».
                                </p>
                            </div>

                        </div>
                    </div>
                </li>
                {# END performances-list__item#}
                {# START performances-list__item#}
                <li class="swiper-slide news-list__item">
                    <div class="news-card">
                        <div class="news-card__img">
                            <img src="./src/img/news-img-2.jpg" alt="">
                        </div>
                        <div class="news-card__body">

                            <div class="news-card__title">
                                <a href="#">Спектакль по произведению Федора Абрамова покажут студенты Архангельского колледжа культуры и искусства</a>
                            </div>
                            <div class="news-card-time">
                                <span class="news-card-time__text">12.04.21</span>
                            </div>
                            <div class="news-card__text">
                                <p>
                                    В рамках проекта «Поле экспериментов» студенты Архангельского областного колледжа культуры и искусства покажут на камерной сцене Архангельского театра драмы им. М.В. Ломоносова спектакль «Женская доля». Показ состоится 25 апреля.                                </p>
                            </div>

                        </div>
                    </div>
                </li>
                {# END performances-list__item#}


            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="subscription">
        <div class="subscription-body">
            <h3 class="subscription-title">Подпишись  на наши новости</h3>
            <form action="" class="c-form">
                <div class="c-form-item">
                    <input type="text" class="c-input" placeholder="Введите email">
                </div>
                <div class="c-form-item">
                    <div class="c-btn-layout c-btn-layout--center">
                        <button type="submit" class="c-btn c-btn-primary">Подписаться</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="troupe">
        <div class="c-title-layout">
            <h2 class="c-title">Труппа</h2>

            <div class="c-btn-layout">
                <a href="#" class="c-btn c-btn-default">Все актеры</a>
            </div>
        </div>
        <ul class="troupe-list">
            <li class="troupe-list__item">
                <div class="troupe-card">
                    <div class="troupe-card__img">
                        <img src="./src/img/troupe-img-1.jpg" alt="">
                    </div>
                    <div class="troupe-card__body">
                        <a href="#" class="troupe-card__title"><span>Елена</span> <span>Смородинова</span></a>
                        <div class="troupe-card__text">Заслуженная артистка России</div>
                    </div>
                </div>
            </li>
            <li class="troupe-list__item">
                <div class="troupe-card">
                    <div class="troupe-card__img">
                        <img src="./src/img/troupe-img-2.jpg" alt="">
                    </div>
                    <div class="troupe-card__body">
                        <a href="#" class="troupe-card__title"><span>Людмила</span> <span>Советова</span></a>
                        <div class="troupe-card__text">Заслуженная артистка России</div>
                    </div>
                </div>
            </li>
        </ul>
    </section>


{% endblock %}
<!-- FOOTER -->
{% include "./layout/footer.twig" %}