<!-- HEADER -->
{% include "./layout/header-dark.twig" %}
{% block page %}
   <!-- MAIN -->


   <div class="body index hover_">
      <div class="body_media"></div>
      <div role="main" class="main banner-">
         <div class="container ">

            <div class="drag-block container" data-class="BANNER_PRODUCT" data-order="1">
               <div class="row margin0">
                  <div class="maxwidth-banner">

                     {# START page block beverages#}
                     <div class="product-beverage">
                        <div class="product-beverage-banner" style="background-image: url(./src/img/product-beverage-bg.png)">
                           <div class="product-beverage-banner__filter"></div>
                           <div class="product-beverage-banner__bottle">
                              <img src="./src/img/product-decor-bottle-big.png" alt="">
                              <div class="product-beverage-banner__logo">
                                 <img src="./src/img/logo-banner.png" alt="">
                                 <svg width="348" height="89" viewBox="0 0 348 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.20528 70.4188V39.7584C2.20528 32.5395 1.1425 27.8245 0 23.1895H35.258L30.3426 33.6316C25.9054 31.0744 20.2461 30.142 14.693 30.142C14.0288 30.142 12.8066 30.3019 12.0626 30.4617V50.8665C14.5336 50.3603 16.8983 49.9608 19.263 49.9608C29.9972 49.9608 39.0309 56.0875 39.0309 68.5275C39.0309 83.4448 26.9948 88 13.9491 88H0C1.56761 82.1928 2.20528 78.8098 2.20528 70.4188ZM12.0626 81.6867C22.1591 81.6867 28.4561 77.2914 28.4561 67.4353C28.4561 59.657 22.9562 56.0076 16.978 56.0076C15.3307 56.0076 13.71 56.2473 12.0626 56.8334V81.6867Z" fill="white"/>
                                    <path d="M38.3672 87.9999C41.901 84.3505 44.1062 80.0351 49.0216 69.7528L71.6324 22.1772L94.0838 69.7528C97.777 77.5312 100.567 82.7789 104.898 87.9999H89.4076C89.4076 85.0165 88.4245 80.781 86.538 76.5722L82.6854 67.7816H59.6495L56.7003 75.7464C55.3984 79.236 54.4153 83.0452 54.1496 88.0266H38.3672V87.9999ZM63.1036 59.657H79.0985L71.1542 40.4243L63.1036 59.657Z" fill="white"/>
                                    <path d="M123.92 23.1629C122.353 28.2241 121.795 33.0989 121.795 39.9182V66.8493L146.478 37.0147C148.763 34.271 149.666 31.6338 149.666 28.97C149.666 27.052 149.161 25.0808 148.444 23.1629H162.632C160.427 30.1421 160.347 35.0967 160.347 42.0759V65.9436C160.347 75.0539 160.932 82.2728 162.632 88H148.364C150.091 82.6191 150.49 74.0683 150.49 67.2755V43.4078L126.71 72.4167C123.841 75.9063 122.698 78.6234 122.698 82.033C122.698 83.951 123.097 85.9222 123.841 88H109.652C111.14 82.8588 111.937 76.812 111.937 71.0049V43.8074C111.937 36.2688 111.778 29.7158 109.652 23.1629H123.92Z" fill="white"/>
                                    <path d="M173.42 88C175.545 81.2073 175.625 75.4002 175.625 67.9415V40.6641C175.625 34.191 175.227 28.8901 173.42 23.1629H187.688C186.147 27.3983 185.483 33.6849 185.483 38.4265V53.3438L197.359 36.4286C200.866 31.3674 202.939 27.3983 203.497 23.1629H218.323C213.567 28.6237 209.13 34.6972 204.56 41.2235L196.11 53.3172C203.736 66.1567 213.567 79.5024 221.697 87.9733H210.06C200.946 79.1029 192.258 67.755 185.456 57.3129V67.5952C185.456 73.9883 186.041 82.1929 187.661 88H173.42Z" fill="white"/>
                                    <path d="M220.051 87.9999C223.558 84.3505 225.79 80.0351 230.705 69.7528L253.316 22.1772L275.767 69.7528C279.461 77.5312 282.25 82.7789 286.581 87.9999H271.091C271.091 85.0165 270.108 80.781 268.222 76.5722L264.369 67.7816H241.333L238.384 75.7464C237.082 79.236 236.099 83.0452 235.833 88.0266H220.051V87.9999ZM244.814 59.657H260.809L252.864 40.4243L244.814 59.657Z" fill="white"/>
                                    <path d="M319.553 23.1629C319.792 25.0009 320.456 27.052 321.2 28.97L336.77 69.7529C339.799 77.7177 342.748 82.4326 347.026 88H330.951C330.951 85.0165 330.367 80.9409 328.666 76.5722L315.382 42.2624L303.585 75.6665C302.362 79.1561 301.379 83.0453 301.114 88.0266H285.305C288.918 84.1375 292.107 79.8221 295.959 69.7795L310.546 31.9801L307.198 23.1895H319.553V23.1629Z" fill="white"/>
                                    <path d="M124.585 16.1038C124.585 16.1038 142.679 29.0499 158.276 2.06549C158.276 2.06549 136.488 -4.38093 123.522 14.2125C123.522 14.2125 141.324 12.4011 151.394 5.2887C151.394 5.31534 142.998 15.3845 124.585 16.1038Z" fill="white"/>
                                 </svg>
                              </div>
                              <div class="product-beverage-banner-voice">
                                 <div class="product-beverage-banner-voice__text">
                                    Услышь голос <br>природы в <br>озвучке ННД:
                                 </div>
                                 <a href="#" class="product-beverage-banner-voice__btn">
                                    <span></span>
                                    <span></span>
                                    <svg width="36" height="42" viewBox="0 0 36 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M35 19.268C36.3333 20.0378 36.3333 21.9622 35 22.732L3.5 40.9186C2.16667 41.6884 0.5 40.7261 0.5 39.1865L0.5 2.81347C0.5 1.27387 2.16667 0.311615 3.5 1.08142L35 19.268Z" fill="white"/>
                                    </svg>
                                 </a>
                              </div>
                           </div>
                           <div class="product-beverage-banner__decor-1">
                              <img src="./src/img/product-decor-1.png" alt="">
                           </div>
                           <div class="product-beverage-banner__decor-2">
                              <img src="./src/img/product-decor-2.png" alt="">
                           </div>
                           <div class="product-beverage-banner__decor-3">
                              <img src="./src/img/product-decor-3.png" alt="">
                           </div>
                           <div class="product-beverage-banner__decor-4">
                              <img src="./src/img/product-decor-4.png" alt="">
                           </div>
                           <div class="product-beverage-banner__decor-5">
                              <img src="./src/img/product-decor-5.png" alt="">
                           </div>
                           <div class="product-beverage-banner__decor-6">
                              <img src="./src/img/product-decor-6.png" alt="">
                           </div>
                           <div class="product-beverage-banner__decor-7">
                              <img src="./src/img/product-decor-7.png" alt="">
                           </div>

                        </div>
                        <div class="product-beverage-goods">
                           <div class="product-beverage-list-bg">
                              <img src="./src/img/product-beverage-list-bg.png" alt="">
                           </div>
                           <div class="maxwidth-theme">

                              <div class="product-beverage-slogan">
                                 <div class="product-beverage-slogan__img">
                                    <img src="./src/img/product-beverage-logo.png" alt="">
                                 </div>
                                 <div class="product-beverage-slogan__text">
                                    <div>Байкал</div>
                                    <span>легендарный рецепт</span>
                                 </div>
                              </div>
                              <div class="product-beverage-list">
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-1.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-2.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-3.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-4.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-5.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-6.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-7.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>
                                 <div class="product-beverage-list__item js-show-popup">
                                    <a href="#" class="product-beverage-list__link">
                                       <img src="./src/img/product-beverage-item-8.png" alt="">
                                       <span class="product-beverage-list__title">Байкал 0,33 мл</span>
                                    </a>
                                    <a href="#" class="beverages-card-btn">
                                       <span>Перейти <br>к напитку</span>
                                    </a>
                                 </div>

                              </div>
                              <div class="product-beverage-list__decor-1">
                                 <img src="./src/img/product-beverage-list-decor-1.png" alt="">
                              </div>
                              <div class="product-beverage-list__decor-2">
                                 <img src="./src/img/product-beverage-list-decor-2.png" alt="">
                              </div>
                              <div class="product-beverage-list__decor-3">
                                 <img src="./src/img/product-beverage-list-decor-3.png" alt="">
                              </div>
                              <div class="product-beverage-list__decor-3">
                                 <img src="./src/img/product-beverage-list-decor-3.png" alt="">
                              </div>
                              <div class="product-beverage-list__decor-4">
                                 <img src="./src/img/product-beverage-list-decor-4.png" alt="">
                              </div>

                           </div>
                        </div>



                        <div class="shops">
                           <div class="maxwidth-theme">
                              <div class="shops-title">Купить Черноголовку сейчас</div>
                              <div class="shops-list swiper-container">
                                 <div class="swiper-wrapper">
                                    <div class="shops-list__item swiper-slide">
                                       <div class="shops-card">
                                          <div class="shops-card__img">
                                             <img src="./src/img/shops-img-1.png" alt="">
                                          </div>
                                          <div class="shops-card__body">
                                             <a href="#" class="shops-card-btn">Купить</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="shops-list__item swiper-slide">
                                       <div class="shops-card">
                                          <div class="shops-card__img">
                                             <img src="./src/img/shops-img-1.png" alt="">
                                          </div>
                                          <div class="shops-card__body">
                                             <a href="#" class="shops-card-btn">Купить</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="shops-list__item swiper-slide">
                                       <div class="shops-card">
                                          <div class="shops-card__img">
                                             <img src="./src/img/shops-img-1.png" alt="">
                                          </div>
                                          <div class="shops-card__body">
                                             <a href="#" class="shops-card-btn">Купить</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="shops-list__item swiper-slide">
                                       <div class="shops-card">
                                          <div class="shops-card__img">
                                             <img src="./src/img/shops-img-1.png" alt="">
                                          </div>
                                          <div class="shops-card__body">
                                             <a href="#" class="shops-card-btn">Купить</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-button-next"></div>
                                 <div class="swiper-button-prev"></div>
                              </div>
                           </div>
                        </div>

                        {# END page block beverages#}

                        <div class="better">

                           <div class="better-decor better-decor-6">
                              <img src="./src/img/better-img-6.png" alt="">
                           </div>
                           <div class="better-decor better-decor-7">
                              <img src="./src/img/better-img-7.png" alt="">
                           </div>
                           <div class="better-decor better-decor-8">
                              <img src="./src/img/better-img-8.png" alt="">
                           </div>
                           <div class="better-decor better-decor-9">
                              <img src="./src/img/better-img-9.png" alt="">
                           </div>
                           <div class="maxwidth-theme">
                              <div class="better-grid">
                                 <div class="better-body">
                                    <h2 class="better-title">Чем мы лучше других? RTB</h2>
                                    <div class="better-advantage">
                                       <div class="better-advantage__item">
                                          На артезианской воде
                                       </div>
                                       <div class="better-advantage__item">
                                          На натуральных настоях трав и фруктов технологии, максимально сберегающие ценные свойства натуральных ингредиентов
                                       </div>
                                    </div>
                                    <div class="better-slogan">
                                       <div class="better-slogan__img">
                                          <img src="./src/img/logo.png" alt="">
                                       </div>
                                       <div class="better-slogan__text">
                                          ЧЕРНОГОЛОВКА - это ГОЛОС ПРИРОДЫ в твоем стакане
                                       </div>
                                    </div>
                                 </div>
                                 <div class="better-img">
                                    <div class="better-decor better-decor-1">
                                       <img src="./src/img/better-img-1.png" alt="">
                                    </div>
                                    <div class=" better-decor-2">
                                       <img src="./src/img/better-img-2.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-3">
                                       <img src="./src/img/better-img-3.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-4">
                                       <img src="./src/img/better-img-4.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-5">
                                       <img src="./src/img/better-img-5.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-10">
                                       <img src="./src/img/better-img-8.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-11">
                                       <img src="./src/img/better-img-11.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-12">
                                       <img src="./src/img/better-img-12.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-13">
                                       <img src="./src/img/better-img-13.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-14">
                                       <img src="./src/img/better-img-14.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-15">
                                       <img src="./src/img/better-img-15.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-16">
                                       <img src="./src/img/better-img-16.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-17">
                                       <img src="./src/img/better-img-17.png" alt="">
                                    </div>
                                    <div class="better-decor better-decor-bubbles">
                                       <img src="./src/img/better-img-bubbles.png" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>

                     <div class="product-popup-layout">
                        <div class="product-popup">
                           <a href="#" class="product-popup-close">
                              <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M16.5002 32.7501C9.92477 32.7538 3.99505 28.7946 1.4782 22.7199C-1.03864 16.6451 0.353504 9.65235 5.005 5.00472C9.11185 0.89786 15.0977 -0.70605 20.7078 0.797164C26.3179 2.30038 30.6998 6.68234 32.2031 12.2924C33.7063 17.9025 32.1024 23.8884 27.9955 27.9952C24.9526 31.0519 20.8133 32.764 16.5002 32.7501ZM3.50025 16.7795C3.57713 23.9315 9.41705 29.678 16.5694 29.6397C23.7217 29.6011 29.4995 23.7921 29.4995 16.6397C29.4995 9.48729 23.7217 3.67835 16.5694 3.63971C9.41705 3.60146 3.57713 9.34795 3.50025 16.5V16.7795ZM12.2899 23L10.0002 20.7087L14.209 16.5L10.0002 12.2912L12.2915 9.99997L16.5002 14.2087L20.709 9.99997L23.0002 12.2912L18.7915 16.5L23.0002 20.7087L20.7106 23L16.5002 18.7912L12.2915 23H12.2899Z" fill="#222222" fill-opacity="0.33"/>
                              </svg>
                           </a>
                           <div class="product-popup__img">
                              <img src="./src/img/product-popup-img-1.png" alt="">
                           </div>
                           <div class="product-popup__body">
                              <div class="product-popup-head">
                                 <div class="product-popup-head__img">
                                    <img src="./src/img/product-beverage-logo.png" alt="">
                                 </div>
                                 <div class="product-popup-head__title">
                                    <h2>Байкал</h2>
                                    <div>Лимонад Черноголовка железная банка: 0,33 л</div>
                                 </div>
                              </div>
                              <div class="product-popup-info">
                                 <h4>Состав:</h4>
                                 <div class="product-popup-info__grid">
                                    <div class="product-popup-info__text">
                                       <p>
                                          Вода артезианская подготовленная, сахар, экстракты (элеутерококка, чёрного чая), краситель сахарный колер (Е150), натуральные вкусоароматические вещества, регулятор кислотности кислота лимонная, масла (кардамона, эвкалипта, лимона), консервант бензоат натрия.
                                       </p>
                                    </div>
                                    <div class="product-popup-info__calories">
                                       <ul>
                                          <li>Калории, ккал:  40</li>
                                          <li>Белки, г:  0.0</li>
                                          <li>Жиры, г:  0.0</li>
                                          <li>Углеводы, г:  10.0</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="product-popup-shops-layout">
                                 <div class="swiper-container product-popup-shops">
                                    <div class="swiper-wrapper">
                                       <div class="swiper-slide product-popup-shop__item">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="swiper-slide product-popup-shop__item">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="swiper-slide product-popup-shop__item">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                       <div class="swiper-slide product-popup-shop__item">
                                          <img src="./src/img/shops-img-1.png" alt="">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-button-next"></div>
                                 <div class="swiper-button-prev"></div>
                              </div>

                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


{% endblock %}
<!-- FOOTER -->
{% include "./layout/footer.twig" %}