.beverages {

  &-card {

    &-info {
      &__title,
      &__text {
        opacity: 0;
      }
    }

    &-btn {
      opacity: 0;
      transition: all 1s ease !important;
    }

    &-img {
      &__round {
        transition: all 1s ease ;
        transform: translateX(-50%) scale(.3);
      }

      &__product {
        transform: scale(0);
      }

      &__fruit-1 {
        transform: translateX(-60%) scale(0);
      }

      &__fruit-2 {
        transform: scale(0);
      }

      &__sheet-1,
      &__sheet-2,
      &__sheet-3,
      &__sheet-4,
      &__sheet-5 {
        opacity: 0;
      }
      /**/
    }

    &-products {
      opacity: 0;
    }


  }

  &-slider {
    .swiper-slide-active {
      .beverages-card {

        &-btn {
          animation: .5s fadeInUpCustom forwards 1s;
        }

        &-info {
          &__title {
            -webkit-animation: .4s fadeInUpCustom .5s forwards;
            animation: .4s fadeInUpCustom .5s forwards;
          }

          &__text {
            -webkit-animation: .5s fadeInUpCustom .7s forwards;
            animation: .5s fadeInUpCustom .7s forwards;
          }
        }

        &-img {
          &__round {
            transition: all 1s ease;
            transform: translateX(-50%) scale(1);
          }

          &__product {
            transition: all .7s ease .1s;
            opacity: 1;
            transform: scale(1);
          }

          &__fruit-1 {
            transition: all 1s ease .2s;
            transform: translateX(0) scale(1);
          }

          &__fruit-2 {
            transition: all 1s ease .3s;
            transform: scale(1);
          }

          &__sheet-1 {
            -webkit-animation: .4s fadeInUpCustom .5s forwards;
            animation: .4s fadeInUpCustom .5s forwards;
          }
          &__sheet-2 {
            -webkit-animation: .5s fadeInUpCustom .7s forwards;
            animation: .5s fadeInUpCustom .7s forwards;
          }
          &__sheet-3 {
            -webkit-animation: .5s fadeInUpCustom .8s forwards;
            animation: .5s fadeInUpCustom .8s forwards;
          }
          &__sheet-4 {
            -webkit-animation: .55s fadeInUpCustom .85s forwards;
            animation: .55s fadeInUpCustom .85s forwards;
          }
          &__sheet-5 {
            -webkit-animation: .57s fadeInUpCustom .9s forwards;
            animation: .57s fadeInUpCustom .9s forwards;
          }
        }

      }
    }
  }

  &.show {
    .beverages-card-products {
      -webkit-animation: .57s fadeInUpCustom .9s forwards;
      animation: .57s fadeInUpCustom .9s forwards;
    }
  }
}

.product-beverage {
  &-banner {
    &__logo {
      &.active {
        img {
          animation: 2.5s scale infinite;
        }
      }
    }
  }
}

.better {
  &.scroll-to-reveal {
    opacity: 0;



  }

  //&.fadeInUpCustom {
  //  .better-decor-11 {
  //    overflow: hidden;
  //    img {
  //      transform: translate(200px, 1000px);
  //      transition: transform 1s ease-in-out 3s;
  //
  //    }
  //  }
  //}
}

.scroll-to-reveal.fadeInUp {
  -webkit-animation: fadeInUpCustom 1s ease-in-out;
  animation: fadeInUpCustom 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInUpCustom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUpCustom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }



.scroll-to-reveal {

}
/*-----------------------------------------*/

.bubbles-container {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // width: 100%;
  // max-width: 15rem;
  // transform: translateX(-50%);
  // opacity: 0.75;
  // overflow: visible;
}

.bubbles {
  width: 100%;
  height: auto;

  circle {
    stroke: white;
    fill: none;
  }

  >g>g:nth-of-type(3n) circle {
    stroke: #87f5fb;
  }

  >g>g:nth-of-type(4n) circle {
    stroke: #8be8cb;
  }

}

.bubbles-large {
  overflow: visible;

  >g {
    transform: translateY(2048px);
    opacity: 0;
    will-change: transform, opacity;
  }

  g:nth-of-type(1) {
    animation: up 6.5s infinite;

    g {
      transform: translateX(350px);
    }

    circle {
      animation: wobble 3s infinite ease-in-out;
    }

  }

  g:nth-of-type(2) {
    animation: up 5.25s 250ms infinite;

    g {
      transform: translateX(450px);
    }

    circle {
      animation: wobble 3s infinite ease-in-out;
    }

  }

  g:nth-of-type(3) {
    animation: up 6s 750ms infinite;

    g {
      transform: translateX(700px);
    }

    circle {
      animation: wobble 3s infinite ease-in-out;
    }

  }

  g:nth-of-type(4) {
    animation: up 5.5s 1.5s infinite;

    g {
      transform: translateX(500px);
    }

    circle {
      animation: wobble 3s infinite ease-in-out;
    }

  }

  g:nth-of-type(5) {
    animation: up 6.5s 4s infinite;

    g {
      transform: translateX(675px);
    }

    circle {
      animation: wobble 3s infinite ease-in-out;
    }

  }

}

.bubbles-small {
  overflow: visible;

  >g {
    transform: translateY(2048px);
    opacity: 0;
    will-change: transform, opacity;
  }

  g circle {
    transform: scale(0);
  }

  g:nth-of-type(1) {
    animation: up 5.25s infinite;

    g {
      transform: translateX(350px);
    }

    circle {
      animation: wobble 3s infinite ease-in-out;
    }

  }

  g:nth-of-type(2) {
    animation: up 5.75s infinite;

    g {
      transform: translateX(750px);
    }

    circle {
      animation: wobble 3s infinite ease-in-out;
    }

  }

  g:nth-of-type(3) {
    animation: up 5.25s 250ms infinite;

    g {
      transform: translateX(350px);
    }

    circle {
      animation: wobble 3s 250ms infinite ease-in-out;
    }

  }

  g:nth-of-type(4) {
    animation: up 5.75s 325ms infinite;

    g {
      transform: translateX(180px);
    }

    circle {
      animation: wobble 3s 325ms infinite ease-in-out;
    }

  }

  g:nth-of-type(5) {
    animation: up 6s 125ms infinite;

    g {
      transform: translateX(350px);
    }

    circle {
      animation: wobble 3s 250ms infinite ease-in-out;
    }

  }

  g:nth-of-type(6) {
    animation: up 5.13s 250ms infinite;

    g {
      transform: translateX(650px);
    }

    circle {
      animation: wobble 3s 125ms infinite ease-in-out;
    }

  }

  g:nth-of-type(7) {
    animation: up 6.25s 350ms infinite;

    g {
      transform: translateX(480px);
    }

    circle {
      animation: wobble 3s 325ms infinite ease-in-out;
    }

  }

  g:nth-of-type(8) {
    animation: up 7s 200ms infinite;

    g {
      transform: translateX(330px);
    }

    circle {
      animation: wobble 3s 325ms infinite ease-in-out;
    }

  }

  g:nth-of-type(9) {
    animation: up 6.25s 233ms infinite;

    g {
      transform: translateX(230px);
    }

    circle {
      animation: wobble 3s 275ms infinite ease-in-out;
    }

  }

  g:nth-of-type(10) {
    animation: up 6s 900ms infinite;

    g {
      transform: translateX(730px);
    }

    circle {
      animation: wobble 2s 905ms infinite ease-in-out;
    }

  }

}

@keyframes wobble {

  33% {
    transform: translateX(-50px);
  }

  66% {
    transform: translateX(50px);
  }

}

@keyframes up {

  0% {
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }

}



/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
@keyframes showCol {
  0% {
    height: 0;
  }

  100% {
    width: auto;
  }
}

@keyframes background {
  50% {
    box-shadow: 0 -2000px 1000px -1000px #0D81D8 inset;
  }
}

@keyframes background-2 {

  //0% {
  //  opacity: 0;
  //}
  50% {
    opacity: 1;
    box-shadow: 0 1000px 500px -500px #0D81D8 inset;
    //background: linear-gradient(275deg, #1EBDFE 99.77%, #0D81D8 0.29% );
  }
}


@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }

  50% {
    background-position: 100% 11%
  }

  100% {
    background-position: 0% 90%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }

  50% {
    background-position: 100% 11%
  }

  100% {
    background-position: 0% 90%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }

  50% {
    background-position: 100% 11%
  }

  100% {
    background-position: 0% 90%
  }
}


@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUpCustomOp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpCustom {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*------------------------------*/
.a-floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  // margin-left: 30px;
  // margin-top: 5px;

  &-10 {
      animation-delay: 0.5s;
  }

  &-20 {
      animation-delay: 1s;
  }

  &-30 {
      animation-delay: 1.5s; 
  }
}


@keyframes floating {
  0% { transform: translate(0px); }
  50%  { transform: translateY(6px); }
  100%   { transform: translateY(0px); }    
}

@keyframes scale {
  0% { transform: scale(1); }
  50%   { transform: scale(.95); }
  100%   { transform: scale(1); }
}

/*------------------------------*/

.a-animation {
  .a-turn {
    opacity: 0;
  }
}


.a-animation .a-turn-1 {
  -webkit-animation: .4s fadeInUpCustom .5s forwards;
  animation: .4s fadeInUpCustom .5s forwards;
}

.a-animation .a-turn-2 {
  -webkit-animation: .5s fadeInUpCustom .7s forwards;
  animation: .5s fadeInUpCustom .7s forwards;
}

.a-animation .a-turn-3 {
  -webkit-animation: .5s fadeInUpCustom .8s forwards;
  animation: .5s fadeInUpCustom .8s forwards;
}

.a-animation .a-turn-4 {
  -webkit-animation: .55s fadeInUpCustom .85s forwards;
  animation: .55s fadeInUpCustom .85s forwards;
}

.a-animation .a-turn-5 {
  -webkit-animation: .57s fadeInUpCustom .9s forwards;
  animation: .57s fadeInUpCustom .9s forwards;
}

.a-animation .a-turn-6 {
  -webkit-animation: .59s fadeInUpCustom .95s forwards;
  animation: .59s fadeInUpCustom .95s forwards;
}
