.c-icon {

}

.icon-hamburger {
  display: block;
  width: 2.7em;
  height: 2em;
  position: relative;
  display: flex;
  align-items: center;

  span {
    display: block;
    height: .2em;
    width: 100%;
    background: #4F5164;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2em;
    background: #4F5164;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}


//fill: #A71A37;

.icon-buy {
  display: inline-block;
  font-size: 1.4em;
  width: 1em;
  height: 1em;
  fill: #fff;
}

.icon-logo {
  fill:#A61A37;
}

.icon-email {
  display: inline-block;
  font-size: 1.3em;
  width: 1em;
  height: .9em;
  stroke: #000;
}

.icon-instagram {
  display: inline-block;
  font-size: 2.1em;
  width: 1em;
  height: 1em;
  stroke: #fff;
}

.icon-facebook {
  display: inline-block;
  font-size: 1.7em;
  width: 1em;
  height: 2em;
  stroke: #fff;
}

.icon-vk {
  display: inline-block;
  font-size: 2.5em;
  width: 1em;
  height: .7em;
  stroke: #fff;
}

.icon-dropdown-bottom {
  display: inline-block;
  font-size: .9em;
  width: 1em;
  height: .5em;
}