.header-v6 .logo_and_menu-row, .header-v15 .logo_and_menu-row {
  height: 135px;
}

.c-scroll-page {
  width: 230px;
  height: 230px;
  background: #FCFAEA;
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 500px;

  &__icon {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.beverages {
  padding-top: 180px;
  background: linear-gradient(179.32deg, #B2C62C 0.59%, #7F982C 69.02%, #6A9246 99.41%), #5C874C;
  //height: 1060px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #fff;
    margin-bottom: 20px;
  }

  &-slider {
    padding: 26px 0;
    &__item {
      width: 100%;
    }
  }

  .swiper-pagination {
    opacity: 0;
  }

  &-grid {
    position: relative;
  }

  &-arrow {
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 10px;
      border-radius: 100px;
      background: #55A35F;
      position: relative;
      transition: all .2s ease-in-out;

      &:hover {
        transition: all .2s ease-in-out;
        background: rgba(32, 104, 44, 0.6);
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 70px;
        height: 70px;
        border-radius: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(255, 255, 255, 0.36);
      }

      &__right {

      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-card {
    display: flex;
    width: 100%;

    &__body {
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-info {
      padding-top: 78px;
      width: 66%;
      margin-bottom: 70px;

      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;

        color: #FFFFFF;
      }

      &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #fff;

        p {
          margin-bottom: 10px;
        }
      }
    }

    &-products {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      position: absolute !important;
      width: auto;
      bottom: 0;
      left: 0;
      padding-top: 20px !important;

      &-list {
        display: flex;
        justify-content: flex-start;
        flex-flow: row nowrap;
        align-items: center;
      }

      &__item {
        //padding: 0 18px;
        margin-right: 34px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        position: relative;
        width: 87px !important;

        &::after {
          content: "";
          opacity: 0;
          transition: all .2s ease-in-out;
          width: 66px;
          height: 6px;
          border-radius: 50%;
          background: #20682C;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        img {
          display: block;
          margin: 0 auto;
          transition: all .2s ease-in-out;
        }

        &.swiper-slide-thumb-active,
        &:hover {
          img {
            transition: all .2s ease-in-out;
            transform: translateY(-20px);
          }

          &::after {
            content: "";
            opacity: 1;
            transition: all .2s ease-in-out;
          }
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 170px;
      border-radius: 200px;
      background: #55A35F;
      position: absolute;
      top: 37%;
      left: 45%;
      transform: translate(-50%,-50%);
      z-index: 10;
      transition: all .2s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 211px;
        height: 211px;
        border-radius: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid rgba(255, 255, 255, 0.36);
      }

      span {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #fff;
      }

      &:hover {
        transition: all .2s ease-in-out;
        background: rgba(32, 104, 44, 0.6);
      }
    }

    &-img {
      width: 40%;
      position: relative;
      display: flex;
      justify-content: center;

      &__round {
        position: absolute;
        z-index: 1;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 490px;
        height: 490px;

        img {
          width: 100%;
        }
      }

      &__product {
        position: relative;
        z-index: 4;
        margin-left: -15%;
      }

      &__fruit-1 {
        z-index: 3;
        position: absolute;
        bottom: 7%;
        left: 52%;
      }

      &__fruit-2 {
        z-index: 6;
        position: absolute;
        bottom: -4%;
        left: 54%;
      }

      &__bubbles {
        z-index: 7;
        position: absolute;
        left: 50%;
        top: 12%;
        transform: translate(-50%, -50%);
      }

      &__sheet {
        &-1 {
          position: absolute;
          top: 9%;
          left: 3%;
          z-index: 5;
        }
        &-2 {
          position: absolute;
          top: -2%;
          right: -8%;
          z-index: 5;
        }
        &-3 {
          position: absolute;
          top: 39%;
          right: -8%;
          z-index: 5;
        }
        &-4 {
          position: absolute;
          top: 44%;
          left: 9%;
          z-index: 5;
        }
        &-5 {
          position: absolute;
          top: 46%;
          left: -58%;
          z-index: 5;
        }
      }
    }
  }
}

.better {
  background: #FCFAEA;
  position: relative;

  &-grid {
    display: flex;

  }

  &-body {
    width: 36%;
    padding: 160px 0 138px;
  }

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #E95000;
    margin-bottom: 60px;
  }

  &-advantage {
    margin-bottom: 92px;
    &__item {
      padding-left: 55px;
      position: relative;
      margin-bottom: 30px;

      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background: linear-gradient(190.45deg, #B5C531 4.91%, #6A9246 92.21%), #6A9246;
      }
    }
  }

  &-slogan {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    &__img {

    }

    &__text {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
      padding-left: 26px;
    }
  }

  &-decor {
    position: absolute;

    &-1 {
      //position: relative;
      z-index: 20;
      left: 47%;
      transform: translateX(-50%);
    }
    &-2 {

    }
    &-3 {
      bottom: 10%;
      left: 6%;
      z-index: 21;
    }
    &-4 {
      bottom: -7%;
      right: -4%;
      z-index: 21;
    }
    &-5 {
      bottom: 5%;
      left: -10%;
    }
    &-6 {
      top: 22%;
      left: 7%;
    }
    &-7 {
      top: 41%;
      left: 1%;
    }
    &-8 {
      bottom: 11%;
      left: 4%;
    }
    &-9 {
      bottom: 26%;
      left: 9%;
    }
    &-10 {
      top: 50%;
      left: 21%;
    }
    &-11 {
      bottom: 57%;
      left: 14%;
    }
    &-12 {
      bottom: 47%;
      left: 35%;
    }
    &-13 {
      bottom: 68%;
      left: 48%;
    }
    &-14 {
      top: 0%;
      right: -15%;
    }
    &-15 {
      top: 49%;
      right: 31%;
    }
    &-16 {
      bottom: 41%;
      right: -2%;
    }
    &-17 {
      bottom: 18%;
      right: -9%;
    }

    &-bubbles {
      top: 5%;
      left: 30%;
    }

  }

  &-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 64%;
  }
}

.product-beverage {
  &-banner {
    display: flex;
    justify-content: center;
    padding-bottom: 23px;
    position: relative;
    background-size: cover;

    &__filter {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      height: 260px;
      background: rgba(255, 255, 255, 0.87);
      filter: blur(91px);
    }

    &__bottle {
      position: relative;
    }

    &-voice {
      background: rgba(255, 255, 255, 0.99);
      border-radius: 20px;
      padding: 30px 23px;
      position: absolute;
      z-index: 30;
      width: 470px;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      flex-flow: row nowrap;

      &__text {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        padding-right: 14px;
        background: #F8B101;
        background: -webkit-linear-gradient(to bottom, #F8B101 0%, #EA4E01 100%);
        background: -moz-linear-gradient(to bottom, #F8B101 0%, #EA4E01 100%);
        background: linear-gradient(to bottom, #F8B101 0%, #EA4E01 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &__btn {
        position: relative;
        span:nth-child(1) {
          display: block;
          width: 128px;
          height: 128px;
          border-radius: 200px;
          background: linear-gradient(27.54deg, #E95000 -10.07%, #F8B600 89.47%), #F7AD00;
          opacity: 0.41;
        }

        span:nth-child(2) {
          display: block;
          width: 96px;
          height: 96px;
          border-radius: 200px;
          position: absolute;
          z-index: 5;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: linear-gradient(27.54deg, #E95000 -10.07%, #F8B600 89.47%), #F7AD00;
        }

        svg {
          position: absolute;
          z-index: 10;
          top: 50%;
          left: 50%;
          margin-left: 4px;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__logo {
      position: absolute;
      left: 50%;
      top: 34%;
      text-align: center;
      transform: translateX(-50%);

      img {
        width: auto;
        display: inline-block;
        margin-bottom: 20px;
      }
    }

    &__decor-1,
    &__decor-2,
    &__decor-3,
    &__decor-4,
    &__decor-5,
    &__decor-6,
    &__decor-7 {
      position: absolute;
      z-index: 2;
    }

    &__decor-1 {
      right: 0;
      bottom: -4%;
    }

    &__decor-2 {
      top: 20%;
      right: 4%;
    }

    &__decor-3 {
      left: 0;
      bottom: 7%;
    }

    &__decor-4 {
      bottom: 25%;
      left: 9%;
      z-index: 3;
    }

    &__decor-5 {
      bottom: -2%;
      left: 11%;
      z-index: 3;
    }

    &__decor-6 {
      bottom: -10%;
      left: 0%;
    }

    &__decor-7 {
      top: 0%;
      right: 0;
      z-index: 0;
    }

  }

  &-slogan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;

    &__img {

    }

    &__text {
      padding-left: 30px;
      font-weight: bold;
      color: #222222;
      font-size: 40px;

      div {
        font-size: 60px;
        line-height: 73px;
      }
    }
  }

  &-goods {
    padding: 90px 0 100px;
    position: relative;
  }

  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;


    &__item {
      transition: all .2s ease-in-out;
      position: relative;
      margin-right: 30px;

      img {
        transition: all .2s ease-in-out;
      }

      &::after {
        width: 80%;
        height: 6px;
        border-radius: 50%;
        background: rgba(91, 91, 91, 0.3);
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: all .2s ease-in-out;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        filter: blur(3px);
      }

      &:hover {
        transition: all .2s ease-in-out;

        img {
          transition: all .2s ease-in-out;
          display: inline-block;
          transform: translateY(-20px);
        }

        &::after {
          content: '';
          opacity: 1;
          transition: all .2s ease-in-out;
        }
      }

    }

    &-bg {
      position: absolute;
      top: -90px;
      right: 0;
      z-index: 0;
    }

    &__link {
      display: block;
      img {

      }
    }

    &__decor-1,
    &__decor-2,
    &__decor-3,
    &__decor-4{
      position: absolute;
    }

    &__decor-1 {
      left: -10%;
      top: 29%;
    }

    &__decor-2 {
      left: 27%;
      top: 32%;
    }

    &__decor-3 {
      right: 34%;
      top: 3%;
    }

    &__decor-4 {
      right: 0%;
      bottom: 23%;
    }

  }
}


.product-popup {
  top: 50%;
  left: 50%;
  width: 1170px;
  background-color: #fff;
  padding: 70px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  position: absolute;
  transform: translate(-50%, -50%);

  &-layout {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;

    &.is-open {
      opacity: 1;
      visibility: visible;
      transition: all .2s ease-in-out;
    }
  }

  &-close {
    position: absolute;
    top: 70px;
    right: 70px;
  }

  &__img {
    //flex: 1 0 215px;
    width: 215px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    //flex: auto;
    width: 79%;
    padding-left: 25px;
  }

  &-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    &__img {
      width: 70px;
      height: 70px;

      img {
        width: 100%;
      }
    }

    &__title {
      padding-left: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
        color: #000000;
        margin-bottom: 0 !important;
      }
    }
  }

  &-info {
    margin-bottom: 36px;

    &__grid {
      display: flex;

    }

    &__text {
      width: 50%;
    }

    &__calories {
      padding-left: 90px;
      width: 50%;
    }
  }

  &-shops {
    width: 100%;

    &-layout {
      padding: 0 60px;
      position: relative;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    border-radius: 150px;
    border: 1px solid #e9e9e9;
    transition: all .2s ease-in-out;

    &::after {
      font-size: 13px;
      color: #333;
    }

    &:hover {
      transition: all .2s ease-in-out;
      background: #30a657;

      &::after {
        color: #fff;
      }
    }
  }
}

.shops {
  padding: 80px 0;
  position: relative;

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 45px;
  }

  &-list {
    &__item {

    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img {

    }

    &__body {

    }

    &-btn {
      background-color: #30a657;
      color: #fff;
      display: inline-block;
      padding: 8px 34px;
      border-radius: 4px;
      text-transform: uppercase;
      transition: all .2s ease-in-out;

      &:hover {
        color: #fff;
        transition: all .2s ease-in-out;
        background-color: #39c668;
      }
    }
  }


  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    transition: all .2s ease-in-out;

    &::after {
      font-size: 13px;
      color: #333;
    }

    &:hover {
      transition: all .2s ease-in-out;
      background: #30a657;

      &::after {
        color: #fff;
      }
    }
  }
}


.swiper-pagination-bullet {
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}